+mentorSelector(mentors=mentors selectedMentor=selectedMentor)
+timeZoneSelector(selectedTimeZone=selectedTimeZone)
+calendarSelector(selectedDay=selectedDay slots=slots)
+timeSelector(selectedDay=selectedDay selectedTime=selectedTime slots=slots selectedTimeZone=selectedTimeZone)

input(type="button" value="Confirm and enter details")
